---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { HeroSlider3, InfiniteImg1, InfiniteImg2 } from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import {TeamCards } from "modules/TeamCards"
import { Footer } from "@modules/Footer";
---

<Layout
    title="Conoce a Umaster"
    description="Conoce a nuestro equipo emprendedor y la propuesta Umaster"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:visible
            data={{
                image: HeroSlider3.src,
                content: {
                    title: "UMASTER",
                    paragraph:
                        "Infinite is a platform that allows you to create a unlimited space for your community. It is a place where you can share your thoughts, ideas, and experiences with like-minded people.",
                },
            }}
        />
        <ServiceCards
            description="SERVICIOS"
            title="¿Qué te ofrece uMaster?"
            client:visible
            cards={[
                {
                    title: "Preparación preuniversitaria",
                    description:
                        "Accede a contenido alineado con los exámenes de admisión de universidades peruanas, públicos y privados, de forma clara, estructurada y accesible.",
                },
                {
                    title: "Simulacros y repaso activo",
                    description:
                        "Entrena con simulacros realistas y repaso activo que fortalece tu memoria a largo plazo, acompañado de estadísticas personalizadas.",
                },
                {
                    title: "Planes para instituciones",
                    description:
                        "Ofrecemos planes especiales para colegios y academias, con seguimiento de progreso por estudiante y acceso a recursos educativos exclusivos.",
                },
                {
                    title: "Rutinas de estudio personalizadas",
                    description:
                        "Diseñamos un camino de estudio adaptado a tu nivel y objetivos, optimizando tu tiempo y manteniéndote motivado.",
                },
                {
                    title: "Contenido explicado, no memorizado",
                    description:
                        "Priorizamos el aprendizaje real con explicaciones paso a paso, no solo respuestas, para comprender y no solo repetir.",
                },
                {
                    title: "Acceso flexible y escalable",
                    description:
                        "Disponible desde cualquier dispositivo, sin horarios fijos ni restricciones físicas, con opciones freemium y suscripciones accesibles.",
                },
            ]}
        />

        <Hero
            heroType="textImage"
            client:visible
            data={{
                image: {
                    src: InfiniteImg1.src,
                    width: 590,
                    height: 300,
                    alt: "Imagen plataforma uMaster",
                },
                title: "Prepárate con uMaster",
                paragraph:
                    "Accede a una plataforma educativa que te entrena para tu examen de admisión con estrategias inteligentes, contenido claro y seguimiento de tu progreso.",
            }}
        />

        <Hero
            heroType="textImage"
            client:visible
            data={{
                switchPlaces: true,
                image: {
                    src: InfiniteImg2.src,
                    width: 590,
                    height: 300,
                    alt: "Comunidad uMaster",
                },
                title: "Hecho para estudiantes como tú",
                paragraph:
                    "Con uMaster, miles de estudiantes pueden estudiar a su ritmo, desde cualquier lugar, sin barreras económicas o geográficas. ¡Estudia mejor, sin memorizar!",
            }}
        />
    </main>
    <Footer />
</Layout>
